@import './normalize.scss';

// Colors
$black: #000000;
$white: #ffffff;
$lightBlue: #63b6ff;
$blue: #3b96e4;
$red: #f50000;

// Breakpoints
$medium: 768px;
$large:  1024px;

// Mixins
@mixin breakpoint($breakpoint) {
    @media screen and (min-width: $breakpoint), print {
        @content;
    }
}

// elements

body {
  // font-family: "Montserrat", Arial, sans-serif;
}

a {
  color: $lightBlue;
  text-decoration: none;

  &:visited {
    color: $lightBlue;
  }

  &:hover {
    color: $blue;
  }
}

.error {
  color: $red;
}
