@import '../../globals/globals';

.profile-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @include breakpoint($medium) {
    flex-direction: row;
  }

  & + & {
    margin-top: 10px;
    padding-top: 20px;
    border-top: 1px solid rgba($black, 0.3);
  }
}

.profile-card__image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
  padding: 2px;
  width: 164px;
  height: 164px;
  background: $white;
  border: 1px solid rgba($black, 0.3);
  border-radius: 3px;

  @include breakpoint($medium) {
    margin: 0;
  }
}

.profile-card__details-container {
  @include breakpoint($medium) {
    flex: 1;
    padding-left: 20px;
  }
}

.profile-card__name {
  margin-top: 0;

  a {
    color: $black;
    text-decoration: none;

    &:visited {
      color: $black;
    }

    &:hover {
      color: rgba($black, 0.5);
    }
  }
}

.profile-card__link {
  display: block;
  margin-top: 15px;
}
